.communities-list {
    width: 710px;
    background-color: #fff;
}

.communities-list-item {
    height: 90px;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.communities-list-item:hover {
    cursor: pointer;
}

.communities-list-item img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.communities-list-item_title {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.communities-list-item_title_name {
    font-weight: 500;
    font-size: 1.125em;
}

.communities-list-item_title_members {
    font-size: 0.75em;
}

.communities-list-item p {
    width: 377px;
    font-size: 0.75em;
    margin-left: auto;
}
