.header{
  display: flex;
  justify-content: flex-start;
  align-self: center;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
}

.header__logo{
  margin-right: 30%;
}

.header__footer{
  height: 75px;
  background: white;
}

.bg_cl_orange{
  background: #FF8254;
}

.header__footer__logo{
  display: flex;
  margin-left: 25%;
  align-items: flex-end;
}

.header__footer__logo img{
  /*align-self: flex-end;*/
  margin-right: 20px;
  width: 80px;
  height: 80px;
  margin-top: -20px;
}



