.first-title {
  font-weight: bold;
}

.first-title,
.task-info {
  display: flex;
  font-size: 2em;
  color: #333;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

.task-info {
  text-align: center;
  margin: 10px;
  font-size: 1.2em;
}

.course-list {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0 60px;
}

.task {
  margin-bottom: 20px;
  font-size: 1em;
}

.method {
  color: #ff3c5a;
}

.grid-demo,
.demo,
.float-demo {
  width: 145px;
  height: 145px;
  border-radius: 5px;
  background-color: white;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.float-demo {
  float: left;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 155px);
  column-gap: 12px;
}
