.search{
  border: none;
  background: none;
  width: 90%;
  outline: none;
  color: #7C787E;
}
.search-icon{
  padding: 9px;
}
.search-container{
  width: 600px;
  height: 40px;
  background: #EFEFEF;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin: auto;
}