@font-face {
  font-family: 'IBM Plex Sans', sans-serif;
  src: url(assets/IBMPlexSans-Medium.ttf);
  font-weight: medium;
}

@font-face {
  font-family: 'IBM Plex Sans', sans-serif;
  src: url(assets/IBMPlexSans-Regular.ttf);
  font-weight: normal;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
