.subreddit {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr;
  grid-template-areas: "logo url title";
  padding: 10px;
  background-color: #ffffff;
  margin: 1px 0;
}

.subreddit-url {
  grid-area: url;
  font-size: 18px;
  font-weight: bold;
}

.subreddit-title {
  grid-area: title;
  font-size: 14px;
}

.subreddit-total_members {
  font-size: 14px;
  font-weight: normal;
}

.subreddit-small-icon {
  width: 32px;
  height: 32px;
}
