* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

body {
  display: flex;
  position: relative;
  padding: 20px 0;
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

:root {
  --bgColor: #ededed;
  --activeColor: #ff3c5a;
  --fadedColor: #b9b9b9;
  --textColor: #333;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  position: fixed;
  top: 0;
  padding: 70px 0 0;
}

.container__logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto 165px;
  max-width: 171px;
  font-size: 24px;
  font-weight: 600;
  color: var(--textColor);
  cursor: pointer;
}

.nav {
  margin: 0 auto;
  width: 171px;
}

.nav__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.link {
  list-style: none;
  position: relative;
  width: 100%;
  padding: 0 0 30px;
  cursor: pointer;
}

.link_a {
  display: flex;
  flex-direction: row;
  position: relative;
  color: var(--fadedColor);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  width: 100%;
}

.link_a:visited,
.link_a:focus,
.link_a:active {
  text-decoration: none;
}

.link_a--active,
.link:hover .link_a {
  color: var(--activeColor);
  transition: 0.2s;
}

.link_a::before {
  content: "";
  position: relative;
  width: 18px;
  height: 20px;
  padding-right: 10px;
  background: var(--fadedColor);
  mask-repeat: no-repeat;
  mask-size: 18px 20px;
  transition: 0.2s;
}

.link:nth-child(1) .link_a::before {
  top: 4px;
  mask-image: url(./img/home.svg);
}

.link:nth-child(2) .link_a::before {
  top: 3px;
  mask-image: url(./img/book-open.svg);
}

.link:nth-child(3) .link_a::before {
  top: 2px;
  mask-image: url(./img/help-circle.svg);
}

.link_a--active,
.link:hover .link_a::before,
.link:focus .link_a::before {
  background: var(--activeColor);
}

.text_selected {
  color: var(--activeColor);
  font-weight: 600;
}

/*
section
*/
.main {
  display: flex;
  justify-content: start;
  flex-direction: column;
  position: relative;
  margin: 0 0 0 20%;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  padding: 94px 30px 64px;
  min-width: 1053px;
  height: 931px;
  font-size: 18px;
  background-color: var(--bgColor);
  overflow: hidden;
}

.main::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  mask-image: url(./img/vectorBg.svg);
  mask-position: right 1px;
  mask-repeat: no-repeat;
  background-color: var(--activeColor);
}

.main__header {
  max-width: 330px;
}

.main__header h3 {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 24px;
  margin: 0 0 10px;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  max-width: 330px;
}

.form * {
  font-family: 'Roboto', sans-serif;
}

.label {
  margin: 15px 0 1px;
  padding-bottom: 1px;
  font-size: 14px;
  color: transparent;
  transition: all 0.2s;
}

.input {
  width: 100%;
  padding: 10px 0 10px;
  outline: transparent;
  margin: 2px 0 0;
  font-size: 16px;
  background-color: transparent;
  resize: none;
  border: none;
  border-bottom: 1px solid var(--fadedColor);
  transition: all 0.2s;
}

.input::placeholder {
  position: relative;
}

.label:focus-within {
  padding-bottom: 0;
  margin-bottom: 0;
  color: var(--fadedColor);
}

.label:focus-within .input {
  border-bottom: 2px solid var(--activeColor);
}

.label:focus-within .input::placeholder {
  color: transparent;
}

.message__counter {
  margin: 7px 0 0;
  font-size: 14px;
  color: var(--fadedColor);
  text-align: right;
}

.input__btn {
  align-self: flex-end;
  margin: 15px 0 0;
  width: 94px;
  height: 36px;
  border-radius: 2px;
  color: #fff;
  background-color: var(--activeColor);
  font-family: 'Roboto', sans-serif;
}
