* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

:root {
    --bgColor: #EDEDED;
    --activeColor: #FF3C5A;
    --fadedColor: #B9B9B9;
    --textColor: #333333;
}

body {
    display: flex;
    position: relative;
    padding: 20px 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    position: fixed;
    top: 0;
    padding: 70px 0 0;
}

.container__logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto 165px;
    max-width: 171px;
    font-size: 24px;
    font-weight: 600;
    color: var(--textColor);
    cursor: pointer;
}

.nav {
    margin: 0 auto;
    width: 171px;
}
.nav__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.link {
    list-style: none;
    position: relative;
    width: 100%;
    padding: 0 0 30px;
    cursor: pointer;
}

.nav a {
    display: flex;
    flex-direction: row;
    position: relative;
    color: var(--fadedColor);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    width: 100%;
}
.link a:visited,
.link a:focus,
.link a:active {
    text-decoration: none;
}
.active a,
.link:hover a {
    color: var(--activeColor);
    transition: .2s;
}
.link a::before {
    content: "";
    position: relative;
    width: 18px;
    height: 20px;
    padding-right: 10px;
    background: var(--fadedColor);
    mask-repeat: no-repeat;
    mask-size: 18px 20px;
    transition: .2s;
}
.link:nth-child(1) a::before {
    top: 4px;
    mask-image: url(./img/home.svg); 
}
.link:nth-child(2) a::before {
    top: 3px;
    mask-image: url(./img/book-open.svg);
}
.link:nth-child(3) a::before {
    top: 2px;
    mask-image: url(./img/help-circle.svg);
}

.active a::before,
.link:hover a::before,
.link:focus a::before {
    background: var(--activeColor);
}
.text_selected {
    color: var(--activeColor);
    font-weight: 600;
}
/*
section
*/
.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 0 20%;
    border-radius: 50px;
    padding: 64px 30px 64px;
    min-width: 1053px;
    font-size: 18px;
    background-color: var(--bgColor);
}
.main__header {
    padding-left: 20px;
    max-width: 955px;
}
.main__header h3 {
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: 24px;
    margin: 0 0 10px;
}
.main__courses {
    display: grid;
    width: 100%;
    margin: 0 auto;
    max-width: 955px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 10px 4px;
}
.block {
    display: flex;
    align-items: flex-end;
    position: relative;
    background-color: #ffffff;
    width: 175px;
    height: 175px;
    padding: 0 10px 20px 20px;
    cursor: pointer;
    box-shadow: 0 2px 3px 1px #9c9c9c;
    border-radius: 6px;
    transition: all .2s;
    overflow: hidden;
}
.block::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    mask-image: url(./img/vector.svg);
    mask-repeat: no-repeat;
    background-color: #B9B9B9;
    opacity: .35;
    transition: all .2s;
}
.block span {
    font-weight: 600;
}
.block span i {
    font-weight: 400;
}
.block:hover {
    box-shadow: 0 2px 15px 4px #9c9c9c;
}
.block:hover::before {
    opacity: 1;
    background-color: var(--activeColor);
}