.container {
  padding-left: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: start;
  background-color: #efefef;
  height: 40px;
  width: 600px;
  border-radius: 5px;
}

.icon {
  position: relative;
  top: 10px;
}

.input {
  position: relative;
  height: 38px;
  width: 560px;
  background-color: #efefef;
  border: none;
}
