body {
    padding: 0;
    margin: 0;
    background: #FFFFFF;
    background: #fff;
    color: #222;
    font-family: Source Sans Pro, san-serif;
}

.sidebar {
    height: 100%;
    width: 367px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
}

.sidebar-content__logo {
    margin: 20px 0 50px 0;
    position: relative;
    top: 50px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
}


.sidebar-content__aside-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-top: 50px;
}

.sidebar-content__aside-nav ul li {
    margin: 10px 0;
}

.sidebar-content__aside-nav ul li a {
    text-decoration: none;
    color: #B9B9B9;
}

.sidebar-content__aside-nav ul li a.pink {
    color: #FF3C5A;
}


.sidebar-content__aside-nav__vertical-middle-position,
.sidebar-content__aside-nav__vertical-middle-position {
    vertical-align: middle;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main {
    position: absolute;
    width: calc(100% - 367px - 40px);
    left: 367px;
    top: 20px;
    background: #EDEDED;
    border-radius: 50px;
    margin: 20px 20px 20px 20px;

}

.icon-svg {
    width: 20px;
    height: 20px;
    color: #B9B9B9;
    margin-right: 5px;
}

.main-container__grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    grid-template-rows: repeat(auto-fill, 175px);
    grid-gap: 20px;
    width: calc(100% - 40px);
    justify-items: center;
}

.rect {
    width: 175px;
    height: 175px;
    background-color: #FFFFFF;
    position: relative;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 50px 50px 50px;

}

.rect__svg-path:hover {
    fill: #FF3C5A;
    opacity: 1;
}

.rect__svg-path {
    transition: fill .4s ease-out;
}

.main-container__label {
    align-self: center;
    margin-left: 20px;
    margin-top: 20px;
}

.rect__explain-card {
    padding-left: 10px;

}


@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
        z-index: -1;
    }

    .main-container {
        width: calc(100% - 40px);
        background: #EDEDED;
        border-radius: 50px;
        margin: 20px 20px 20px 20px;
        position: static;
    }
}










