* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  --color-primary: #ff3c5a;
  --color-secondary: #b9b9b9;
  --color-bg-primary: #fff;
  --color-bg-secondary: #ededed;
  --color-text-primary: #333;
  --font-title: 'Source Sans Pro', sans-serif;
  --font-controls: 'Roboto', sans-serif;
  --shadow-card: 0 4px 4px rgba(0, 0, 0, 0.25);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

h1 {
  font-size: 48px;
  line-height: 60px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}

strong {
  color: var(--color-primary);
}

input,
textarea {
  width: 100%;
  border: none;
  background-color: inherit;
  padding: 5px;
  font-family: var(--font-controls);
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid var(--color-secondary);
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
}

input ~ .bottom-effect,
textarea ~ .bottom-effect {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
}

input:focus ~ .bottom-effect,
textarea:focus ~ .bottom-effect {
  width: 100%;
  transition: 0.4s;
}

button {
  border: none;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 367px;
  height: 100vh;
}

.logo {
  position: relative;
  margin: 40px 0 0 0;
  width: 171px;
  height: 141px;
}

.logo__header {
  position: absolute;
  top: 20px;
  left: 8px;
  font-family: var(--font-title);
  font-weight: 600;
  font-size: 30px;
}

.logo__subheader {
  position: relative;
  font-family: var(--font-title);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.nav {
  margin-top: 25%;
  display: flex;
  flex-direction: column;
}

.nav__link {
  margin: 16px 0;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: var(--color-secondary);
}

.nav__icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.sidebar-nav-link:visited {
  color: var(--color-secondary);
}

.sidebar-nav-link:active,
.sidebar-nav-link:hover {
  color: var(--color-primary);
}

.content {
  margin: 20px 0 0 367px;
  width: calc(100% - 367px);
  background-color: var(--color-bg-secondary);
  padding: 20px;
  border-radius: 50px;
}

.home {
  padding: 20px;
}

.home__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__subheader {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.row-header {
  display: block;
  margin: 20px 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.float-row {
  display: block;
  width: 100%;
}

.grid-row__content,
.float-row__content,
.flex-row__content {
  width: 202px;
  height: 202px;
  background-color: var(--color-bg-primary);
  box-shadow: var(--shadow-card);
  border-radius: 6px;
}

.float-row__content {
  float: left;
  margin: 0 20px 0 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-row__content {
  margin: 0 20px 0 0;
}

.grid-row {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: repeat(4, 202px);
  grid-auto-flow: row;
  gap: 20px;
}

.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courses__cards {
  --gap: 20px;
  --min-card-width: 175px;
  --cols: 4;
  --rows: 5;
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--min-card-width));
  grid-template-rows: repeat(var(--rows), var(--min-card-width));
  gap: var(--gap);
}

.courses__card {
  cursor: pointer;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: var(--color-bg-primary);
  background-image: url(assets/icons/card-logo.svg);
  background-repeat: no-repeat;
  background-size: 210px 218px;
  background-position: -10px -50px;
  box-shadow: var(--shadow-card);
}

.courses__card:hover {
  background-image: url(assets/icons//card-logo-hover.svg);
}

.courses__card-text {
  width: 100%;
  font-family: var(--font-title);
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
}

@media only screen and (max-width: 1440px) {
  .courses__cards {
    --cols: 5;
    --rows: 4;
  }
}

@media only screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }

  .content {
    margin: 20px 0 0 0;
    width: 100%;
  }

  .courses__cards {
    --cols: 4;
    --rows: 5;
  }
}

@media only screen and (max-width: 768px) {
  .courses__cards {
    --cols: 3;
    --rows: 7;
  }
}

@media only screen and (max-width: 600px) {
  .courses__cards {
    --cols: 2;
    --rows: 10;
  }
}

@media only screen and (max-width: 425px) {
  .courses__cards {
    --cols: 1;
    --rows: 20;
  }
}

.contacts-form {
  display: flex;
  flex-direction: column;
  width: 330px;
  font-family: var(--font-controls);
}

.contacts__input {
  position: relative;
  width: 100%;
}

.contacts {
  position: relative;
  width: 100%;
  padding: 50px;
  height: 931px;
  overflow: hidden;
}

.contacts__logo {
  position: absolute;
  right: -100px;
  top: 0;
}

.contacts__label {
  margin: 6px 0;
  font-family: var(--font-controls);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-secondary);
}

.button-primary {
  margin: 10px 0;
  align-self: flex-end;
  width: fit-content;
  background-color: var(--color-primary);
  color: var(--color-bg-primary);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  padding: 10px;
}
