@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: calc(100% - (100% / 1.6));
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 70px auto;
  padding: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.link,
.main-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px auto;
  width: 170px;
  color: #b9b9b9;
  outline: none;
  text-decoration: none;
}

.main-link {
  color: #ff3c5a;
}

.link:hover {
  color: #ff3c5a;
}

.link-text {
  margin-left: 5px;
}

.main-block {
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 50px;
  background-color: #ededed;
  font-family: Source Sans Pro;
  width: calc(100% / 1.6);
  overflow: hidden;
  overflow-y: auto;
}
