.input {
  width: calc(100% - 20px);
  justify-self: center;
  background: inherit;
  outline: none;
  box-shadow: none;
  border: none;
  padding: .5rem;
}

.search {
  width: 40%;
  display: flex;
  background: #efefef;
  border-radius: 5px;
  margin-left: 20%;
}

.search-icon {
  padding: .5rem 0 .5rem .5rem;
}

.button {
  padding: 0.5rem;
  background: inherit;
  border: 1px solid #FFFFFF;
  outline: none;
}
